body{
background-color:black;
}
.face{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
   padding-top: 53px;
    width: 317px;
    height: 317px;  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card{
width: 550px;
height: 868px;
margin: auto;
margin-top: 53px;
background-color: #23252C;
}

.name{
color: #fff;
text-align: center;
font-family: serif;
font-style: normal;
margin: 0px;
padding-top: 21px;
font-size: 26px;
}

.wrap{
   height: 399px;
   width: 317px;
   background-color: #1A1B21;
   margin-top: 0px;
   margin:auto;    
}
h2{
    color:#F3BF99;
    font-family: serif;
    text-align: center;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    margin: 0px;
    margin-top: 6.19px;
}
h3{
font-family: serif;
font-size: 10.24px;
line-height: 15.36px;
color:#F5F5F5;
text-align: center;
margin: 0;
margin-top: 8.8px;
}
.button_email{
margin-left: 35px;
margin-right: 17px;
margin-top: 15px;
}
.button_linkd{
margin-right: 0px;    
}
.aboutd{
text-align: left;
color: white;
margin:0px;
margin-left: 36px;
margin-top:33px;
font-size: 16px;
line-height: 24px;
font-weight: 700;
}
p{
color: white;
text-align: left;
margin: 0;
margin-left: 36px;
margin-right: 34px;
font-size: 10.24px;
font-weight: 400;
line-height: 150%;
}

.footer{
    width: 317px;
    height: 64px;
    padding-top: 19px;
    padding-bottom: 19px;
    margin:auto;
    background-color:#161619;
    display: flex;
    height: 25px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}
.twitter{
    margin-right:24px;
}
.facebook{
    margin-right:24px;
}
.instagram{
    margin-right:24px;
}
.github{
    margin-right:24px;
}


